* text=auto
*.sh text eol=lf
*.js text eol=lf
*.snbt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
/.gitattributes text eol=lf
*.html text eol=lf
*.json text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.lock text eol=lf
.env* text eol=lf
*.png binary
*.jar binary
*.zip binary
